In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("education vertical dataset.csv")
df

,id,vertical,FS,description,price
0,0,education,IT DEV Specialist,Skilled in programming languages such as Java,54
1,1,education,IT DEV Specialist,Experienced in developing and maintaining com...,55
2,2,education,IT DEV Specialist,Knowledgeable in Agile development methodolog...,53
3,3,education,IT DEV Specialist,Strong problem-solving skills and ability to ...,55
4,4,education,IT DEV Specialist,Proficient in using development tools such as...,52
...,...,...,...,...,...
135,138,education,Pure Math teacher,Strong understanding of the importance of fos...,21
136,139,education,Pure Math teacher,Proficient in using formative and summative a...,23
137,140,education,Pure Math teacher,Experienced in creating engaging and interact...,24
138,141,education,Pure Math teacher,Skilled in providing opportunities for hands-...,23
139,142,education,Pure Math teacher,Adept at using data to inform instruction and...,21

In [3]:
df = df[['description','price']]
df

                                           description  price
0        Skilled in programming languages such as Java     54
1     Experienced in developing and maintaining com...     55
2     Knowledgeable in Agile development methodolog...     53
3     Strong problem-solving skills and ability to ...     55
4     Proficient in using development tools such as...     52
..                                                 ...    ...
135   Strong understanding of the importance of fos...     21
136   Proficient in using formative and summative a...     23
137   Experienced in creating engaging and interact...     24
138   Skilled in providing opportunities for hands-...     23
139   Adept at using data to inform instruction and...     21

[140 rows x 2 columns]

In [26]:
# Libraries 
from tensorflow.keras.preprocessing.text import Tokenizer
from keras.models import Sequential
from keras.layers import Dense, Embedding, LSTM
from sklearn.model_selection import train_test_split
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [27]:
tokenizer = Tokenizer()
tokenizer.fit_on_texts(df['description'])
descriptions_sequences = tokenizer.texts_to_sequences(df['description'])

In [28]:
max_length = max([len(s) for s in descriptions_sequences])
descriptions_sequences = pad_sequences(descriptions_sequences, maxlen=max_length)

In [29]:
X_train, X_test, y_train, y_test = train_test_split(descriptions_sequences, df['price'], test_size=0.2)

In [34]:
model = Sequential()
model.add(Embedding(input_dim=len(tokenizer.word_index)+1, output_dim=100, input_length=max_length))
model.add(Dense(X_train.shape[1],activation='relu'))
model.add(Dense(X_train.shape[1],activation='relu'))
model.add(Dense(X_train.shape[1],activation='relu'))
model.add(Dense(X_train.shape[1],activation='relu'))
model.add(Dense(X_train.shape[1],activation='relu'))
model.add(Dense(1))
model.compile(loss='mean_squared_error', optimizer='adam', metrics=['mean_absolute_error'])

In [35]:
# Train the model
model.fit(X_train, y_train, batch_size=32, epochs=10)

Epoch 1/10
4/4 [==============================] - 1s 5ms/step - loss: 9501.9307 - mean_absolute_error: 80.0471
Epoch 2/10
4/4 [==============================] - 0s 2ms/step - loss: 9498.3828 - mean_absolute_error: 80.0251
Epoch 3/10
4/4 [==============================] - 0s 2ms/step - loss: 9495.4814 - mean_absolute_error: 80.0074
Epoch 4/10
4/4 [==============================] - 0s 1ms/step - loss: 9492.0547 - mean_absolute_error: 79.9865
Epoch 5/10
4/4 [==============================] - 0s 2ms/step - loss: 9487.8975 - mean_absolute_error: 79.9607
Epoch 6/10
4/4 [==============================] - 0s 2ms/step - loss: 9482.7324 - mean_absolute_error: 79.9290
Epoch 7/10
4/4 [==============================] - 0s 5ms/step - loss: 9476.4941 - mean_absolute_error: 79.8891
Epoch 8/10
4/4 [==============================] - 0s 800us/step - loss: 9468.0234 - mean_absolute_error: 79.8371
Epoch 9/10
4/4 [==============================] - 0s 3ms/step - loss: 9457.1514 - mean_absolute_error: 79.7689
Epoch 10/10
4/4 [==============================] - 0s 3ms/step - loss: 9443.2129 - mean_absolute_error: 79.6822

In [36]:
# Evaluate the model on the test data
test_loss, test_acc = model.evaluate(X_test, y_test)
print('Test accuracy:', test_acc)

1/1 [==============================] - 0s 160ms/step - loss: 7730.9604 - mean_absolute_error: 69.5093
Test accuracy: 69.50932312011719

In [37]:
# use the model to predict a price for a new description
new_description = ["great programmer"]
new_description_sequence = tokenizer.texts_to_sequences([new_description])
new_description_sequence = pad_sequences(new_description_sequence, maxlen=max_length)
predicted_price = model.predict(new_description_sequence)
print(predicted_price)

1/1 [==============================] - 0s 120ms/step
[[[0.5055305]
  [0.5055305]
  [0.5055305]
  [0.5055305]
  [0.5055305]
  [0.5055305]
  [0.5055305]
  [0.5055305]
  [0.5055305]
  [0.5055305]
  [0.5055305]
  [0.5055305]
  [0.5055305]
  [0.5055305]
  [0.5055305]]]