In [9]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv("education vertical dataset.csv")
df

,id,vertical,FS,description,price
0,0,education,IT DEV Specialist,Skilled in programming languages such as Java,54
1,1,education,IT DEV Specialist,Experienced in developing and maintaining com...,55
2,2,education,IT DEV Specialist,Knowledgeable in Agile development methodolog...,53
3,3,education,IT DEV Specialist,Strong problem-solving skills and ability to ...,55
4,4,education,IT DEV Specialist,Proficient in using development tools such as...,52
...,...,...,...,...,...
135,138,education,Pure Math teacher,Strong understanding of the importance of fos...,21
136,139,education,Pure Math teacher,Proficient in using formative and summative a...,23
137,140,education,Pure Math teacher,Experienced in creating engaging and interact...,24
138,141,education,Pure Math teacher,Skilled in providing opportunities for hands-...,23
139,142,education,Pure Math teacher,Adept at using data to inform instruction and...,21

In [11]:
freelancingServices = ["IT DEV Specialist",
        "Kayaking coach"]

In [12]:
df = df[df['FS'].isin(freelancingServices)][['description','price']]
df

                                          description  price
0       Skilled in programming languages such as Java     54
1    Experienced in developing and maintaining com...     55
2    Knowledgeable in Agile development methodolog...     53
3    Strong problem-solving skills and ability to ...     55
4    Proficient in using development tools such as...     52
..                                                ...    ...
91           Adept at teaching the basics of kayaking    153
92   Strong understanding of the different types o...    151
93   Proficient in teaching paddling techniques fo...    154
94   Experienced in working with adaptive kayaking...    155
95   Skilled in working with people from a variety...    154

[96 rows x 2 columns]

In [13]:
from sklearn.linear_model import LinearRegression
from sklearn.feature_extraction.text import CountVectorizer

In [14]:
# Vectorize the descriptions using CountVectorizer
vectorizer = CountVectorizer()
descriptions_vectors = vectorizer.fit_transform(df.description)

In [15]:
# Train a linear regression model on the vectors
regressor = LinearRegression()
regressor.fit(descriptions_vectors, df['price'])

LinearRegression()

In [16]:
# Use the trained model to predict a price for a new description
new_description = ["kayak specific advisor"]
new_description_vector = vectorizer.transform(new_description)
predicted_price = regressor.predict(new_description_vector)
print(predicted_price)

[113.28482222]

In [17]:
# Use the trained model to predict a price for a new description
new_description = ["software engineerer freelancer"]
new_description_vector = vectorizer.transform(new_description)
predicted_price = regressor.predict(new_description_vector)
print(predicted_price)

[65.79669883]

In [18]:
# Use the trained model to predict a price for a new description
new_description = ["math teacher"]
new_description_vector = vectorizer.transform(new_description)
predicted_price = regressor.predict(new_description_vector)
print(predicted_price)

[93.12095081]

In [19]:
# Based on data kayak specific service between 140-160, math 20-30, software engineer 50-55
# This AI obtained acceptable results.

In [21]:
import pickle

# Save the model to a file
with open('model.pkl', 'wb') as f:
    pickle.dump(regressor, f)

# Save the vectorizer to a file
with open('vectorizer.pkl', 'wb') as f:
    pickle.dump(vectorizer, f)

In [21]:
import s3fs
from pickle import dump

fs = s3fs.S3FileSystem(anon=False)

bucket = 'pricing-estimator-ai'
key = 'model.pkl'

dump(regressor, fs.open(f's3://{bucket}/{key}', 'wb'))